<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>JNU-IoT / Visualization</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="network.js"></script>
  <script type="text/javascript" src="net.js"></script>
  <style>
    #x {
      position: relative;
    }

    #mynetwork {
      position: absolute;
    }
  </style>
</head>

<body>
  <div id="main">JNU-IoT / Visualization</div>
  <div class="wrapper">
    <div id="x" class="item0">
      <div id="mynetwork" align="center"></div>
    </div>
    <div class="item1">패널1</div>
    <div align="center"></div>
    <div class="item2">패널2</div>
    <!-- <div class="item3"><iframe id="Grafana" src="https://snapshot.raintank.io/dashboard-solo/snapshot/rn195FgurmO2Kj8s3uA5h52piEZ2ZlQY?orgId=2&from=now-10s&to=now&panelId=10&theme=light" width="350" height="270" frameborder="0"></iframe> -->
    <div class="item3">
      <form id="login" target="frame" method="post" action="http://192.168.0.111:9000/api/dashboards/db">
        <input type="hidden" name="username" value="admin">
        <input type="hidden" name="password" value="dnslab">
      </form>
      <iframe id="frame" name="frame" width="500" height="270" frameborder="0"></iframe>
      <div align="center">
        <button style="WIDTH: 80px; HEIGHT: 40px" onclick="changePanel(this)" value="1">Temp</button>
        <button style="WIDTH: 80px; HEIGHT: 40px" onclick="changePanel(this)" value="2">Light</button>
        <button style="WIDTH: 80px; HEIGHT: 40px" onclick="changePanel(this)" value="3">Cogas</button>
        <button style="WIDTH: 80px; HEIGHT: 40px" onclick="changePanel(this)" value="4">Alchol</button>
      </div>
    </div>
    <div class="item4"><iframe id="Grafana" src="http://192.168.0.111:9000/d/5gCEicemk/dnslab?orgId=1&fullscreen&panelId=5&from=now-10h&to=now&theme=light" width="350" height="270" frameborder="0"></iframe></div>
  </div>

  <script>
    // submit the form into iframe for login into remote site
    document.getElementById('login').submit();
    // once you're logged in, change the source url (if needed)
    var iframe = document.getElementById('frame');
    iframe.onload = function() {
      if (iframe.src != "http://192.168.0.111:9000/d/5gCEicemk/dnslab?orgId=1&fullscreen&panelId=1&from=now-10h&to=now&theme=light")
        iframe.src = "http://192.168.0.111:9000/d/5gCEicemk/dnslab?orgId=1&fullscreen&panelId=1&from=now-10h&to=now&theme=light";
    }

    function changePanel(objButton) {
      var changeSrc = "http://192.168.0.111:9000/d/5gCEicemk/dnslab?orgId=1&fullscreen&from=now-10h&to=now&theme=light&panelId=" +
        objButton.value + "&theme=light";
      $("#Grafana").attr("src", changeSrc);
    }
    $(document).on('mouseenter', "#left1", function() {
      $.contextMenu({
        selector: '#left1',
        trigger: 'left',
        callback: function(key, options) { //지역 생성
          if (key == "create") {
            var myWindow = window.open("open1.html", "myWindow", "width=620,height=160,top=50"); //지역생성팝업창.
          } else if (key == "delete") { //지역 삭제
            var text = prompt("지역 이름을 입력하시오 : ", "ex)JNU");
            if (text == null) {
              alert("취소하셨습니다.");
            } else {
              var r = confirm("정말로 삭제하시겠습니까 ? ");
            }
            if (r == true) {
              $.post("http://192.168.56.1:3000/deleteNode/", {
                "NodeName": text
              }, function(data, status) {
                if (data.success == 1) {
                  alert(text + " 지역이(가) 제거되었습니다.");
                  window.location.reload();
                } else {
                  alert(text + " 지역이(가) 목록에 없습니다.");
                }
              })
            } else {
              alert("취소 버튼을 누르셨습니다.");
            }
          }
        },
        items: {
          "create": {
            name: "지역 추가",
            icon: "edit"
          }
        }
      });
    });
    $(document).on('mouseenter', "#left2", function() {
      $.contextMenu({
        selector: '#left2',
        trigger: 'left',
        callback: function(key, options) { //지역 생성
          if (key == "fold1") {
            var myWindow = window.open("open2.html", "myWindow", "width=620,height=160,top=50"); //지역생성팝업창.
          } else if (key == "delete") { //지역 삭제
            var text = prompt("지역 이름을 입력하시오 : ", "ex)JNU");
            if (text == null) {
              alert("취소하셨습니다.");
            } else {
              var r = confirm("정말로 삭제하시겠습니까 ? ");
            }
            if (r == true) {
              $.post("http://192.168.56.1:3000/deleteNode/", {
                "NodeName": text
              }, function(data, status) {
                if (data.success == 1) {
                  alert(text + " 지역이(가) 제거되었습니다.");
                  window.location.reload();
                } else {
                  alert(text + " 지역이(가) 목록에 없습니다.");
                }
              })
            }
          }
        },
        items: {
          "fold1": {
            "name": "센서 추가",
            icon: "edit",
            "items": {
              "Mosquitto": {
                "name": "Mosquitto",
                callback: function(itemKey, opt, e) {
                  m = itemKey;
                  window.console && console.log(m) || alert(m);
                }
              },
              "Kafka": {
                "name": "Kafka",
                callback: function(itemKey, opt, e) {
                  m = itemKey;
                  window.console && console.log(m) || alert(m);
                }
              },
              "Camera": {
                "name": "Camera",
                "items": {
                  "fold2-key1": {
                    name: "URL",
                    type: 'text'
                  },
                  sep1: "--------",
                  select: {
                    name: "Select",
                    type: 'select',
                    options: {
                      1: 'RTSP',
                      2: "RTMP"
                    }
                  },
                  sep2: "--------",
                  camera: {
                    name: "추가",
                    callback: function(itemKey, opt, e) {
                      m = itemKey;
                      window.console && console.log(m) || alert(m);
                    }
                  }
                }
              }
            }
          },
          "delete": {
            name: "지역 삭제",
            icon: "delete"
          }
        }
      });
    });
    $(document).on('mouseenter', "#left3", function() {
      $.contextMenu({
        selector: '#left3',
        trigger: 'left',
        callback: function(key, options) { //지역 생성
          if (key == "delete") {
            var myWindow = window.open("open1.html", "myWindow", "width=620,height=160,top=50"); //지역생성팝업창.
          }
        },
        items: {
          "delete": {
            name: "센서 삭제",
            icon: "delete"
          }
        }
      });
    });
  </script>
</body>

</html>
