<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>JNU-IoT / Visualization</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="network.js"></script>
    <script type="text/javascript" src="net.js"></script>
    <script type="text/javascript" src="contextmenu1.js"></script>

    <style>
      #mynetwork{
        position:absolute;
      }
      #left1{
        position:relative;
        left:425px;
        top:300px;
      }
    </style>
  </head>
  <body>
    <div id="main">JNU-IoT / Visualization</div>
    노드타입 : <input type="text" id="NodeType" value="">
    노드이름 : <input type="text" id="NodeName" value="">
    <div id="mOver1" onmouseover="mOver(this)" onmouseout="mOut(this)">
    프로젝트 참여자</div>
    <p></p>
    <div class="wrapper">
      <div class="item0">
        <div id="mynetwork" align="center"></div>
        <img id="left1" src="/views/img/dns_logo.png" width="70" height="60">
      </div>
      <div class="item1">
        패널1
          <ol>
            <li>Node.js</li>
            <li>InfluxDB</li>
            <li>Grafana</li>
          </ol> </div>
      <div class="item2">
        패널2
      </div>
        <div class="item4">알람1</div>
        <div class="item5">알람2</div>
    </div>

  <script>
  function mOver(obj) {
  obj.innerHTML = "염성웅 박지연 최승진"
  }
  function mOut(obj) {
  obj.innerHTML = "프로젝트 참여자"
  }
  </script>
  </body>
</html>
