<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Location Add</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="network.js"></script>
    <script type="text/javascript" src="net.js"></script>
    <script type="text/javascript" src="contextmenu1.js"></script>
    <style>
    body {
      background-color: pink;
    }
    </style>
  </head>
  <body>
    노드타입 :
    <input id="radio1" type="radio" name="chk_info" value="Home">Home
    <input id="radio2" type="radio" name="chk_info" value="Company">Company
    <input id="radio3" type="radio" name="chk_info" value="University">University
    <input id="radio4" type="radio" name="chk_info" value="JNU">JNU
    <br></br>
    노드이름 : <input type="text" id="childText">
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var Nflag = 1;
    var Tflag = 0;
    var count = 0;
    var NodeName = "";
    var NodeType = "";
    function getNodeList(NodeName){
      NodeName = document.getElementById("childText").value;
      $.get("http://192.168.0.37:3000/getNodeList/"+NodeName,function(data,status){
          Nflag = data.result;
          if (Nflag == 1){
            count = count + 1;
            alert(NodeName+"는(은) 이미 존재합니다. 다시 입력하세요.");
          }
          else if(NodeName == ""){
              alert("공백 문자 입니다.");
          }
          else{
            count = count + 1;
            alert("생성 가능합니다.");
          }
      }).fail(function(){
         alert("서버 측 에러입니다.");
      })
    };
    function createNode(Nflag,Tflag,NodeName,NodeType){
      NodeName = document.getElementById("childText").value;
      if(Tflag == 0){
          alert("노드타입을 선택하지 않았습니다.");
      }
      else if(count == 0 && Nflag == 1){
          alert("중복 검사를 하지 않았습니다.");
      }
      else if(count > 0 && Nflag == 1){
          alert(NodeName+"는(은) 이미 존재합니다. 다시 입력하세요.");
      }
      else if(NodeName == ""){
          alert("공백 문자 입니다.");
      }
      else{
        // $.post를 통해 컨트롤 서버에 값을 집어 넣는다.
        alert(NodeType+","+NodeName);
        $.post("http://192.168.0.37:3000/createNode",{
            "NodeType":NodeType,
            "NodeName":NodeName
          },function(){
              alert(NodeType+","+NodeName+"이(가) 생성되었습니다.");
              var socket = io();
              socket.on('news',function(data){
              console.log(data);
              socket.emit('my other event', { success: 1 });
              });
              alert("Hellow");
//////////////////////////////////////////////////
              // google.load("visualization", "1");
              // // Set callback to run when API is loaded
              // google.setOnLoadCallback(drawVisualization);
              // ln =1;
              drawVisualization();
//////////////////////////////////////////////////
        })
        .fail(function(){
            alert("서버 측 오류.");
        })
      }
    }

    $(document).ready(function () {
      $('#radio1').click(function () {
       Tflag = 1;
       NodeType = $('input[name="chk_info"]:checked').val();
      });
      $('#radio2').click(function () {
       Tflag = 1;
       NodeType = $('input[name="chk_info"]:checked').val();
      });
      $('#radio3').click(function () {
       Tflag = 1;
       NodeType = $('input[name="chk_info"]:checked').val();
      });
      $('#radio4').click(function () {
       Tflag = 1;
       NodeType = $('input[name="chk_info"]:checked').val();
      });
    });
    // 생성 가능할 시.
    // 1. 라디오 테그 선택했는지 검사
    // 2. 지역이름 검사 결과 0값 나왔을 경우만
    </script>
    <button type="button" name="button" onclick="getNodeList(NodeName);">지역이름 검사</button>
    <button type="button" name="button" onclick="createNode(Nflag,Tflag,NodeName,NodeType);"> 생성 </button>
  </body>
<!--
      // opener 를 이용해 부모 window 객체에 접근할 수 있습니다.
      // 부모에게서 전달받은 값에 추가로 문자열을 더해서 다시 부모의 receiveFromChild 라는 id를 갖는
      // 태그요소에 value 값을 바꾸어 주는 작업입니다.
      window.opener.document.getElementById("NodeName").value = txt;
      window.location.reload()  //부모창 새로고침
      // 창을 닫음
    //  window.close();
    }
    */
    </script>
-->
