<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Location Add</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="network.js"></script>
    <script type="text/javascript" src="net2.js"></script>
    <script type="text/javascript" src="contextmenu1.js"></script>


    <style>
    body {
      background-color: pink;
    }
    </style>

  </head>
  <body>
    <input id="radio1" type="radio" name="chk_info" value="집">집
    <input type="radio" name="chk_info" value="회사">회사
    <input type="radio" name="chk_info" value="학교">학교
    <input type="radio" name="chk_info" value="JNU">JNU
    <br></br>
    지역이름 : <input type="text" id="childText">
    <button type="button" name="button" onclick="sendToParent();">지역이름 검사</button>
  </body>
    <!-- jquery를 통해 클릭시 노드 추가 이벤트 발생  -->
    <script>

    //라디오버튼의 값 가져오기.
    $(document).ready(function () {
      $('#radio1').click(function () {
       // getter
       var radioVal = $('input[name="chk_info"]:checked').val();
       window.opener.document.getElementById("NodeType").value = radioVal;

       alert(radioVal);
       });
    });
    //
    //
    //

    </script>
