<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Location Add</title>
  </head>

  <input type="radio" name="chk_info" value="집">집
  <input type="radio" name="chk_info" value="회사">회사
  <input type="radio" name="chk_info" value="학교">학교
  <input type="radio" name="chk_info" value="JNU">JNU
  <br>
  </br>
    지역이름 : <input type="text" id="childText">
    <button type="button" name="button" onclick="sendToParent();">지역이름 확인</button>

    <script type="text/javascript">
      function sendToParent(){
        var txt = document.getElementById("childText").value;
        // opener 를 이용해 부모 window 객체에 접근할 수 있습니다.
        // 부모에게서 전달받은 값에 추가로 문자열을 더해서 다시 부모의 receiveFromChild 라는 id를 갖는
        // 태그요소에 value 값을 바꾸어 주는 작업입니다.
        window.opener.document.getElementById("receiveFromChild").value = txt;

        // 창을 닫음
        window.close();
      }
    </script>
